.imageProfile {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    border: solid 2px black;
    object-fit: cover;
    top: 250px;
    left: 3%;
}

.imageProfile:hover {

}

.card-content {
    margin-top: 90px;
}

.bg-lightblue {
    background-color: rgb(221, 229, 249);
}

.text-ellips {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subcard{
    height: 120px;
}

.icon-edit{
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.525);
    cursor: pointer;
    color: #278bf0;
}

.icon-edit:hover{
    background-color: rgba(255, 255, 255, 0.882);
}

.icon-edit-dark{
    position: absolute;
    right: 18px;
    top: 58%;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    color: #3f3f3f;
}

.icon-edit-dark:hover{
    background-color: rgba(0, 0, 0, 0.163);
}